@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans'), url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

html[data-theme="night"] {
    /* rose pine
    --color-neutral: #393552;
    --color-secondary: #9ccfd8;
    --color-secondary-muted: #56949f;

    --color-error: #eb6f92;
    --color-error-muted: #341920;
    --color-base-100: #191724;
    --color-base-200: #1f1d2e;
    --color-base-300: #26233a;
    --color-base-content: #e0def4;
    */

    /* mejoras sobre tema actual
    --color-neutral: #393552;
    --color-base-100: #18162c;
    --color-base-200: #24223a;
    --color-base-300: #2b2b39;
    */

    --color-secondary-muted-2: #171F38;
}

.title-logo {
    font-weight: 500;
    font-style: normal;
}

:root {
    font-family: 'IBM Plex Sans', sans;
}

.badge {
    transition: all 0.05s ease-in-out;
    vertical-align: middle;
    text-wrap-mode: nowrap;
}

.selected-badge {
    background-color: var(--color-base-300);
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    cursor: grabbing;
}

.fallback-badge {
    opacity: 0 !important;
}

.element-cancel {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.15s ease-in-out;
}

.element-cancel:hover {
    transform: rotateZ(-180deg);
}

.badge:hover {
    filter: brightness(97%);
}

.badge:has(.element-cancel:hover) {
    background-color: var(--color-error-muted);
    color: var(--color-error);
    border-color: var(--color-error);
    
    transform: scale(1.03);
    transition: transform 0.3s ease;
    filter: brightness(100%);
}

.categoryLabel {
    transition: all 0.05s ease-in-out;
    background-color: var(--color-secondary-muted-2);
    border-style: solid;
    border-color: var(--color-secondary-muted-2);
    border-width: 4px 0 4px 4px;
}

.categoryLabel:hover {
    filter: brightness(90%);
}

.tdel {
    cursor: pointer;
    transition: all 0.08s ease-in-out;
    transform: scale(1.5);
}

.tdel:hover {
    color: var(--color-error);
}

.handle {
    transition: all 0.05s ease-in-out;
    cursor: grab;
}

.handle:hover {
    transform: scale(1.1);
}

#addCategory {
    transition: all 0.05s ease;
    cursor: pointer;
}

#addCategory:hover {
    transform: scale(1.04);
    border: 2px solid var(--color-secondary);
    background-color: var(--color-secondary-muted-2);
}

.searchAutocompleteItem {
    padding: 12px;
    margin-top: 8px !important;
}

.searchAutocompleteItem:hover {
    border-radius: 7px !important;
    background-color: var(--color-base-100);
    cursor: pointer;
}

.searchItem:hover {
    border-radius: 7px !important;
    filter: brightness(90%);
}

.errorMessage {
    background-color: #171F38 !important;
}

html, body {
    margin: 0;
    height: 100%;
}

.content {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 93vh; 
}

.infoOrder{
    border-radius: 7px;
    background-color: #171F38;
    padding: 17px;
}

/*
.stickyElementBox {
    position: sticky;
    bottom: 0;
    z-index: 10;
}*/