@font-face {
    font-family: 'IBM Plex Sans';
    src: local('IBM Plex Sans'), url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.title-logo {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: 'IBM Plex Sans', sans;
}

.badge {
    transition: all 0.05s ease-in-out;
    vertical-align: middle;
    cursor: grab;
}

.selected-badge {
    background-color: #171F38 !important;
    color: #818CF8 !important;
    border-color: #818CF8 !important;
    cursor: grabbing;
}

.element-cancel {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.15s ease-in-out;
}

.element-cancel:hover {
    transform: rotateZ(-180deg);
}

.badge:hover {
    filter: brightness(97%);
}

.badge:has(.element-cancel:hover) {
    background-color: #201F31 !important;
    color: #FB7085 !important;
    border-color: #FB7085 !important;
    
    transform: scale(1.03);
    transition: transform 0.3s ease;
    filter: brightness(100%);
}

.categoryLabel {
    transition: all 0.05s ease-in-out;
    background-color: #171F38 !important;
    border: 2px solid #171F38 !important;
}

.categoryLabel:hover {
    transform: scale(1.03);
}

.tdel {
    cursor: pointer;
    transition: all 0.05s ease;
    transform: scale(1.5);
}

.tdel:hover {
    filter: brightness(80%);
}

.handle {
    transition: all 0.05s ease-in-out;
    cursor: grab;
}

.handle:hover {
    transform: scale(1.1);
}

#addCategory {
    transition: all 0.05s ease;
    cursor: pointer;
}

#addCategory:hover {
    transform: scale(1.04);
    border: 2px solid #818CF8 !important;
    background-color: #171F38 !important;
}

.errorMessage {
    background-color: #171F38 !important;
}

html, body {
    margin: 0;
    height: 100%;
}
  
.content {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 87vh; 
}

/*
#elementsBottom {
    position: sticky;
    bottom: 0;
    z-index: 10;
}*/