<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-theme="night">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0/themes.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    </head>
    <body>
        <header>
            <div class="navbar bg-base-100">
                <div class="navbar-start">
                    <!--
                    <div class="dropdown">
                        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
                        </div>
                        <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                            
                            <li 
                                tabindex="0"
                                hx-get="/createOrder"
                                hx-target="#pageContent"
                                hx-swap="innerHTML">
                                <a>Crear Order</a>
                            </li>
                           
                        </ul>
                    </div>
                     -->
                    <a class="p-2" href="/"><span class=" text-4xl title-logo">Re<span class="text-primary">O</span>rder</span></a>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <!-- ... -->
                </div>
                <div class="navbar-end">
                    <!--
                    <ul>

                        <li 
                            class="btn btn-ghost btn-accent"
                            tabindex="0"
                            hx-get="/createOrder"
                            hx-target="#pageContent"
                            hx-swap="innerHTML">
                            <a>Crear Order</a>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </header>
        <main>
            <span 
            hx-get="/createOrder" 
            hx-trigger="load" 
            hx-target="#pageContent"
            >
            </span>
            <div class="p-2" id="pageContent">


            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>