<div class="mx-4 sm:mx-12 md:mx-24 lg:mx-48">
    <!--
    <div class="flex flex-col text-2xl mx-auto p-4
                w-full sm:w-8/9 md:w-3/5 lg:w-1/4
                mt-10 sm:mt-5 md:mt-8 lg:mt-12 infoOrder">
    -->
        <div class = "flex p-1"><span th:text="${order.title}" class="mt-15 text-4xl font-bold text-secondary"></span></div>
        <div class="flex p-1 items-center">
            <span th:text="'@' + ${order.author}" class="mt-1 mb-4 text-xl" style="filter: brightness(80%);"></span>
            <button class="btn btn-secondary btn-sm ml-auto"
                th:attr="hx-get=@{/reorder/{id}(id=${order.id})}"
                hx-target="#pageContent"
                hx-swap="innerHTML"
                th:attrappend="hx-push-url=@{/reorder/{id}(id=${order.id})}">
                >Reorder</button>
        </div>    <!--
    </div>
    -->
    <div class="list-group-item mb-2 rounded border-b-2 border-neutral" th:each="tier, tierIter : ${order.content}" th:if="${tierIter.index > 0}">
        <div class="flex">
            <div class="categoryLabel border-t-2 border-s-2 border-e-2 border-base-300 rounded bg-base-300 flex flex-col items-center justify-center w-12 sm:w-16 min-h-20 sm:min-h-24">
                <div class="flex flex-col items-center justify-center h-full gap-3">
                    <span class="font-bold text-xl sm:text-2xl" th:text="${tierIter.index}">?</span>
                </div>
            </div>
            <div class="flex-1 p-2 flex flex-wrap gap-2 bg-base-200 rounded-r" th:id="'elementContainerTier' + ${tierIter.index}">
                <span 
                    th:each="e : ${tier}" 
                    class="badge badge-soft badge-secondary p-3 sm:p-4 text-base sm:text-xl cursor-default"
                    th:data-element="${e}">                          
                    <span th:text="${e}">elemento</span>
                </span>
            </div>
        </div>
    </div>
</div>
