
    <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md mt-6 flex-col justify-between h-40">
    <div class="flex justify-between">
         <h2 class="text-xl font-bold" id="order-title">Título del Order</h2>
         <p class="text-gray-700" id="order-author">Autor: Nombre del Autor</p>
    </div>
        <ul class="list-disc list-inside mt-4" id="order-items">
            <li>Elemento 1</li>
            <li>Elemento 2</li>
            <li>Elemento 3</li>
        </ul>
    </div>

